body {
    background-color: #212121;
    color: #fff;
}

* {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

input{
    display: inline-block;
    max-width: 200px; /* adjust this value to your liking */
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
