* {
    text-align: center;
}

body {
    background-color:grey;
}

button{
    margin: 0;
    position: relative;
    color: black;
    background-color: rgb(196, 193, 193);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input {
    color: black;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}